{% if cookiecutter.project_type == "fastapi" %}
DATABASE_URL=postgresql://postgres:postgres@db:5432/{{ cookiecutter.package_name }}
{% elif cookiecutter.project_type == "django" %}
DJANGO_SECRET_KEY=changeme
DJANGO_SETTINGS_MODULE=config.settings.dev
POSTGRES_DB={{ cookiecutter.package_name }}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
{% endif %}
