__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

.venv/
.env

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
{% if cookiecutter.project_type == "data_science" %}

data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/**/.gitkeep
.ipynb_checkpoints/
{% endif %}
